* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Para nuestro proyecto usaremos REM:
REM -> es realtivo al documento
Al ver que los rem y los px guardaban una relación se creo un 'hack'
reiniciamos el tamaño del html que rodea todo el documento*/
html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  /*Unidades de medida
	px -> habitualmente usado pero ya esta descontinuado
	em ->porcentaje del elemento al que pertenece(tamaño del padre)
	rem -> es relativo al documento (toma com referencia al tamaño del documento)
	1 rem = 10 px -> esto permite que los sitios web se adapten mas a una gran cantidad de navegadores*/
}
.userToPostInputPrueba{
  color: black;
}

:root {
  --Purple: #845EC2;
  --GreenLight: #11C092 ;
  --LightBlue: #00B3BE;
  --LighterGrey: rgb(243, 241, 241);
  --LightGrey: #f8faff;  /*#F2F3F5*/
  --Gradient: linear-gradient(to right top, #6d327c, #485DA6, #00a1ba, #00BF98, #36C486);
  --GradientNav: linear-gradient(to right , #845EC2, #41bbce, #36C486);
  --GreyBorder: #c0c0c4; /*#b8b8b9*/
  --Box-shadow: 1px 1px 8px 1px rgba(59,58,58,0.96);

  --Quantico: "Quantico";
  --Rosario: 'Rosario', sans-serif;
}

header {
  display: flex;
  padding: 1rem;
  margin:0;
  background: var(--LightGrey);
}
.containerShowMoviesPosters{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
}
.containerShowMoviesPosters button{
  color:white;
  background: var(--GreenLight);
  border:none;
  border-radius:0.5rem;
  padding:1rem;
  font-family: var(--Rosario);
  font-size: 1.5rem;
  font-weight: bold;
}
.head {
  display: flex;
  display: none;  /*chequear en la parte de abajo*/
  align-items: center;
  gap: 4rem;
}
.head a {
  text-decoration: none;
  color: var(--LightGrey);
  font-size: 2.3rem;
}

.navList {
  display: flex;
  align-items: center;
  padding: 0.7rem;
  justify-content: space-evenly;
  width: 100vw;
  color: white;
  font-family: var(--Quantico);
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 0;
  background: var(--GradientNav);
}
.navBarIcons{
  display: flex;
  align-items: center;
  gap: 9.5rem;
}
.navBarIcons li a{
    text-decoration: none;
    color: white;
}

.profileLink a, .navBarIcons a, .profileLink li{
  display:none;
}
ul li, .navBarIcons li {
    list-style: none; 
}

ul li:hover, .navBarIcons li a:hover{
  /* color: var(--LightBlue); */
  transform: scale(1.2);
  cursor: pointer;
}

.containerTimeLine {
  background-color: var(--LightGrey);
  /* height: 100vh;
  width: 100vw; */
  font-family: var(--Rosario);
  display:flex;
  flex-direction: column;
}
.movieSection{
  position: fixed;
  display:none;
  z-index: 1; /* para que este encima */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* si es necesario creará un scroll*/
  background-color: rgba(0, 0, 0, 0.75);
}
#closeMovieSection{
  color:white;
  font-size: 3rem;
  margin: 2rem;
}

.moviePosters{
  /*display:block;  verificar su display block*/
  position:fixed;
    /* margin-top: 3rem; */
  right: 25px;
  bottom:0;
  top:0;
  overflow-y:scroll;
  width:30rem;
  padding:1rem;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:1rem;
}

.moviePosters::-webkit-scrollbar{
  width: 1rem;
  background-color: rgba(0, 0, 0, 0.01);
}

.moviePosters::-webkit-scrollbar-thumb{
  background: var(--LightGrey);
  border-radius: 0.5rem;
  border-right: 0rem solid var(--GreyBorder);
  height: 40%;
}
.moviePosters::-webkit-scrollbar-thumb:hover{
  border-right: 1rem solid var(--GreyBorder);
}
.titleAndPoster{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:1rem;
  background-color: rgba(0, 0, 0, 0.01);
  border-radius:0.5rem;
  /* padding: 1.5rem; */
}
/* .titleAndPoster:first-child{
  margin-top: 70rem;
} */
.moviePosters p{
  color: white;
  font-weight: bold; 
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  font-style: italic;
  font-family: var(--Quantico);
  border:black;
  width:47%;
  background-color: black;
  /* border: dotted 3px rgb(255, 255, 131); */
  padding: 0.4rem;
  position:absolute;
  margin-top: 17rem;
  
}
.movieImg{
  width:50%;
  height:500%;
}

.containerUser {
  padding:1rem 2rem;
}

.containerAboutUser {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.backgroundPhoto img {
  display: none;
}
.defaultImg{
  width: 10%;
  height: 10%;
}

.profilePictureUser {
  padding: 0rem;
}

.profilePictureUser .userPhoto {
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

.userPhoto{
  width: 35%;
  height: 35%;
  border-radius: 50%;
}
.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userName {
  font-size: 2rem;
  font-weight: bold;
}

.userEmail {
  font-size: 1.4rem;
}

.containerUserPosts {
  border: none;
  border-radius: 0.5rem;
  margin: 2rem;
  padding: 1.5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  /* border: 1px solid var(--GreyBorder); */
  box-shadow:var(--Box-shadow);
}

.toPostInput {
  height: 10rem;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  padding-bottom: 4rem;
  /* padding-right:1rem; */
  background-color: var(--LighterGrey);  /*input sharepost*/
  /* border: 1px solid var(--GreyBorder); */
}
.toPostInput:focus{
  outline:none;
  border: 1px solid var(--GreyBorder);
}
.toPostInput::placeholder {
  font-family: var(--Rosario);
  font-size: 1.4rem;
  color: rgb(17, 15, 15);
  /* margin-bottom:5rem; */
}

.uploadAndShare {
  border-top: 1px solid var(--GreyBorder);
  margin-top: 1rem;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.uploadAndShare i {
  font-size: 2rem;
}
.uploadAndShare i:hover{
  cursor:pointer;
  color: var(--GreenLight);
}
.uploadAndShare p{
  margin-right: 10rem;
}

.shareBtn {
  background: var(--GreenLight);
  border-radius: 0.5rem;
  padding: 0.4rem;
  color: white;
  text-align: center;
  border: none;
  cursor: pointer;
  width: 35%;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: var(--Rosario);
}

.containerUsersPosts {
  margin: 2rem;
}

.containerUserInfo{
  display:none;
}

.userThatPostsInfo {
  background-color: white;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  /* color: white; */
}

.userThatPostsInfo p {
  font-size: 1.5rem;
  color:black;
  font-weight: bold;
}

.usersToPost {
  padding: 1rem;
  background: white;
  /* border-left: 1px solid var(--GreyBorder);
  border-right: 1px solid var(--GreyBorder); */
  border-top: 1px solid var(--GreyBorder);
 
}
.userToPostInput {
  height: 10rem;
  display: inline-block;
  width: 100%;
  border:none;
  /* border: 1px solid var(--GreyBorder); */
  /* background-color: var(--LighterGrey); */
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.notMyInput{
  background-color: white;
}
.cursorDefault {
  cursor: default;
}

.userToPostInput:focus{
  outline: none;
}
.modalContent input{
  background-color: var(--LightGrey);
  border:1px solid var(--GreyBorder);
}

.usersPosts{
  box-shadow:var(--Box-shadow);
  border-radius:0.5rem;
  margin: 2rem;
  /* border: 1px solid var(--GreyBorder); */
}

.usersPosts:last-child{
  margin-bottom: 8.5rem;

}
.likeAndShare {
  display: flex;
  gap: 1.5rem;
  background-color: white;
  align-items: center;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  height: 3.5rem;
  padding-left: 2rem;
  border-top: 1px solid var(--GreyBorder);
}
.likeAndShare i:hover{
  cursor:pointer;
  color: var(--GreenLight);
}


/*SIG IN-UP*/

.containerSignIn {
  background: var(--Gradient);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.containerTitleSignIn {
  display: flex;
  margin: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-family: var(--Quantico);
  font-style: italic;
}

.containerImgSignIn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.containerImgSignIn img {
  width: 35%;
  margin: 2.5rem;
  border: none;
}
.containerUserData{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}


.containerUserData form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
   
}

.containerUserData form a{
  color: white;
  font-size: 1.5rem;
  font-family: var(--Quantico);
  margin: 0.5rem;
}

.termsConditions {
  display: flex;
  flex-direction: row;
  margin: 0.5rem;
}

.termsConditions .checkBoxTerms{
  margin: 0.8rem;
}

.termsConditions a{
    cursor:pointer;
}

.inputUserData {
  width: 100%;
  margin: 1.4rem;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
}

.containerBtn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerBtn p {
  color: white;
  font-family: var(--Quantico);
  font-size: 1.2rem;
  margin: 0;
}

.btn {
  width: 28rem;
  background-color: var(--Purple);
  color: white;
  padding: 0.8rem;
  margin: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-family: var(--Quantico);
  cursor: pointer;
}

.btn a {
  color: white;
  text-decoration: none;
}

.containerBtnSocialNetworks {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btnSocialNetworks {
  border: none;
  border-radius: 0.5rem;
  width: 28rem;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
  font-family: var(--Quantico);
  font-size: 1.5rem;
  background-color: #ffffff;
  color: var(--Purple);
}

.btnSocialNetworks .fab{
  margin-right: 1rem;
}

.containerImgSignUp {
    display:none;
}

.containerLoginSignUp {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2rem;
  font-family: var(--Quantico);
}

.containerLoginSignUp p {
  font-size: 1.5rem;
}

.containerLoginSignUp .btnSignUp {
  padding-left: 0.8rem;
  background: none;
  border: none;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
}

.btnSignUp a{
  text-decoration: none;
  text-decoration: underline;
  color: white;
}

.containerSignUp {
  background: var(--Gradient);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.separation{
  display:flex;
  align-items: center;
  justify-content: center;
  gap:1rem;
  margin: 1rem auto;
}

.firstLine, .secondLine{
  border: 1px solid white;
  width: 12rem;
}

.circle{
  border-radius: 40%;
  border: 2px solid white;
  width: 1rem;
  height: 1rem;
}
/*FOOTER*/

/* footer {
  display:none;
  width: 100%;
  background: var(--Purple);
  background-size: cover;
  font-family: "Quantico", serif;
}

.containerFooter {
  display: flex;
  flex-direction: column;
  padding: 1rem;
} */

/* .boxCreators,
.boxCopyRight {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.creatorsGithub {
  display: flex;
  gap: 2rem;
}

.creators h2,
.boxCopyRight h2 {
  margin-bottom: 1rem;
  color: white;
  font-weight: 600;
} */

/* .creatorsGithub a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

.creatorsGithub a:hover {
  opacity: 60%;
}

.creatorsGithub a .fab {
  margin-right: 1rem;
  font-size: 1.5rem;
}

.boxCopyRight span {
  color: white;
  font-size: 1.2rem;
} */

/*MODAL*/
.modal {
  position: fixed;
  z-index: 1; /* para que este encima */
  left: 0;
  top: 0;
  width: 100%;
  font-family: var(--Quantico);
  height: 100%;
  overflow: auto; /* si es necesario creará un scroll*/
  background-color: rgba(0, 0, 0, 0.4); /* 0.4 es la opacidad puede cambiar */
}
.hideIt{
  display:none;
}
.showIt{
  display:block;
}

.modalContent {
  background-color: white;
  font-family: var(--Rosario);
  margin: 50% auto; /* 50% desde arriba y está centrado */
  padding: 2rem;
  border: none;
  border-radius: 0.5rem;
  width: 80%; /* a cambiar de acuerdo a la pantalla*/
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.modalText {
  font-size: 1.7rem;
  text-align: justify;
}

.closeModalBtn , .btnUpdateModal{
  font-size: 1.7rem;
  color: white;
  background-color: var(--GreenLight);
  border: none;
  padding: 0.8rem;
  border-radius: 0.2rem;
  cursor: pointer;
  width: 100%;
}
.closeModalBtn:hover , .btnUpdateModal:hover {
  color: black;
}
.modalEdit{
  background: var(--LightGrey);
  outline:none;
  border:none;
  height: 7rem;
  width:100%;
  border-radius: 1rem;
  padding: 0.5rem;
}
.modalBtns {
  border-radius: 1rem;
  display:flex;
  flex-direction: row;
  gap:3rem;
}



#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 8rem; /* Place the button at the bottom of the page */
  right: 3rem;/* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background: var(--GreenLight);/* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 1.2rem; /* Some padding */
  border-radius: 50%; /* Rounded corners */
  font-size: 1.2rem; /* Increase font size */
}

#myBtn:hover {
  background-color: var(--LightBlue); /* Add a dark-grey background on hover */
}

#btnSendPassword{
  cursor: pointer;
}

.btnGoToEmail{
  background: none;
  border: none;
  margin-top: 2rem;
}

.btnGoToEmail a{
  text-decoration: none;
  color:white;
  font-family: var(--Quantico);
  text-decoration: underline;
  font-size: 1.5rem;

}
/* Send Password */

.containerSendPassword{
  background: var(--Gradient);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:4rem;
  align-items: center;
  height: 100vh;
  font-family: var(--Quantico);
  padding: 2rem;
}
.containerTitleSignIn h2{
text-align: center;

}
.containerUserData p{
  color:white;
  text-align: justify;
  margin: 1rem;
  font-size: 1.5rem;
}

body::-webkit-scrollbar{
	width: 0.7rem;
	background:white;
}

body::-webkit-scrollbar-thumb{
	background: var(--LightBlue);
	border-radius: 0.5rem;
	border-right: 0.5rem solid var(--LightBlue);
	height: 40%;
}

.container404{
  background: var(--Gradient);
  height: 100vh;
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container404Message{
  background-color: rgba(255, 255, 255, 0.3);
  width:32rem;
  height: 40rem;
  border-radius: 0.5rem;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:2rem;
}
.container404Message img {
  width:20rem;
  height: 20rem;
  object-fit: cover;
}
.container404Message h2{
  color:white;
  font-family: var(--Quantico);
  font-style: italic;
}
/*User Profile*/
.containerUserProfileFather{
  display:row;
  font-style: var(--Rosario);
  background-color: var(--LightGrey);
  height: 100vh;
}
.containerArrow{
  color:var(--Purple);
  position: fixed;
  top:1rem;
  font-size: 2.5rem;
  left:2.5rem;
}
.containerUserProfile {
  display: none;
}

.containerUserProfileAboutMe{
  background-color: white;
  border-radius: 0.5rem;
  padding:1.3rem;
  margin: 2.5rem 2rem 2rem;
  align-content:space-between;
  gap:2rem;
  display:flex;
  flex-direction: column;
}
.containerProfilePhoto{
  display:flex;
  flex-direction: column;
  /* border: 1px solid red; */
  align-content:space-between;
  gap:1rem;
}
.containerPhoto{
  /* border:1px solid blueviolet; */
  display: flex;
  /* height: 14rem;
  width: 24rem; */
}
.userPhoto{
  /* width: 2%;
  height: 2%; */
  width:35%;
  height: 75%;
  display: block;
  margin: 0 auto;
}
.containerEditPhoto{
  display:flex;
  justify-content: space-between;
}
.containerEditPhoto p{
  color:var(--Purple);
  font-family: var(--Rosario);
  font-weight: bold;
  font-size: 2rem;
}
.containerEditPhoto i{
  color:var(--GreenLight);
}
.btnEditProfile{
  border:none;
  color: white;
  border-radius: 0.5rem;
  font-family: var(--Rosario);
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem;
  /* width:10rem; */
  background: var(--Purple);
  /* margin:0 auto; */
}
.containerEditUserProfile{
  display: flex;
  flex-direction: column;
  display:flex;
  flex-direction: column;
  /* border: 1px solid green; */
  align-content:space-between;
  gap:2rem;
}
.containerAboutMe{
  display: flex;
  flex-direction: column;
  gap:1.5rem;
}
.containerAboutMe input {
  height: 7rem;
}
.containerEditUserInfo{
  display:flex;
  justify-content: space-between;
  /* border: 1px solid pink; */
}
.containerEditUserInfo p{
  color:var(--Purple);
  font-family: var(--Rosario);
  font-weight: bold;
  font-size: 2rem;
}
.containerEditUserInfo i{
  color:var(--GreenLight);
}
.containerDetails{
  display: flex;
  flex-direction: column;
  align-content:space-between;
  gap:4rem;
}
.containerChildDetails{
  display:flex;
  align-content: space-between;
  gap:2rem;
  width: 100%;
  border-radius: 0.5rem;
}
.containerChildDetails p{
  font-family: var(--Rosario);
  font-weight: bold;
  /* color: var(--Purple); */
}
.containerChildDetails input {
  height: 3rem;
  width:100%;
}
.containerEditUserProfile input{
  border:none;
  background-color: var(--LighterGrey);
  border-radius: 0.5rem;
}

/* BREAK POINTS */

/*Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* .containerTitleSignIn h2 {
    text-align: center;
    color: black;
  } */
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  header {
    position: fixed;
    width: 100%;
    height: 8.5rem;
    display:block;
    background: var(--GradientNav);
  }

  .head{
    display:block;
  
  }
  .containerShowMoviesPosters{
    display:none;
  }

  .head a {
    margin-left: 4rem;
    font-size: 5rem;
    cursor: pointer;
    z-index: 1;
    font-family: 'Quantico';
    font-style: italic;
    color:white;
  }

  .navList{
    position:relative;
    bottom:65px;
    left:600px;
    background: none;
    width:50%;
  }

  .profileLink {
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: 8rem;
    width:0%;
    flex-direction: column;
  }
  .profileLink a, .navBarIcons a, .profileLink li{
    display:block;
  }


  .profileLink i{
    display:none
  }
  .profileLink li{
    padding:0;
    margin-right: 70rem;
    width:20rem;
  }

  .profilePicture{
    display: none;
  }
  
   .profileLink li{
    margin-left:50rem;
  }
  

  .navBarIcons li{
    display:flex;
    align-items: center;
    gap:2rem;
    cursor: pointer;
  }
  
  .navBarIcons i{
    display: none;
  }

  /*TIMELINE*/
  /* .containerTimeLine {
    background-color: red;
  } */
  .containerUserAndOthersPosts {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 7rem;
    background-color: var(--LightGrey); /*antes tenía LightGrey*/
  }

  .containerUser {
    flex-direction: column;
    margin: 5rem 5rem;
    padding: 0rem;
    height: 25.5rem;
    width: 30rem;
    position: fixed;
    left:10px;
  }

  .containerUserInfo{
    display:block;
    flex-direction: column;
    margin: 5rem 5rem;
    padding: 2rem;
    height: 20rem;
    width: 30rem;
    position: fixed;
    left:10px;
    top:350px;
    box-shadow: var(--Box-shadow);
    border-radius:0.5rem;
  }

.containerAboutUser {
  display: flex;
  background-color: white;
  align-items: center;
  padding: 1rem;
  box-shadow: var(--Box-shadow);
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
  .profilePictureUser .userPhoto{
    width: 80%;
    height: 80%;
    
  }
  .backgroundPhoto img {
    width: 100%;
    height: 50%;
    display: block;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    box-shadow: var(--Box-shadow);
  }

  .userInfo p {
    font-size: 1.5rem;
  }

  .profileLink li, .navBarIcons li a{
    font-size: 2rem;
  }


  /*la otra columna*/
  .containerPosts {
    margin-top: 2.9rem;
    margin-right: 37rem;
  }

  .containerAllUsersPosts {
    padding: 1.5rem;
  }

  .toPostInput {
    height: 10rem;
  }

  .toPostInput::placeholder {
    font-family: var(--Rosario);
    font-size: 1.4rem;
    padding: 1rem;
  }

  .uploadAndShare {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .uploadAndShare i {
    font-size: 2.2rem;
  }
  .uploadAndShare p {
      margin-right: 32rem; /*no cambiar*/
  }
  .iconUploadLetter{
    padding-left: 1rem;
  }

  .shareBtn {
    font-size: 1.8rem;
    width:10rem;
  }

  .userThatPostsInfo{
    background-color: white;
  }

  .userThatPostsInfo p {
    font-size: 1.5rem;
  }

  .userToPostInput {
    height: 8rem;
  }
  #myBtn{
    right: 34rem;
  }
  .movieSection{
    position: fixed;
    display:block;
    right: 0px;
    bottom:0;
    top:0px;
    overflow-y:scroll;
    width:0rem;
    padding:0rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: none;
  }
  #closeMovieSection{
    display:none;
  }
  .moviePosters{
    display:block;
    position:fixed;
    /* margin-top: 3rem; */
    right: 25px;
    bottom:0;
    top:100px;
    overflow-y:scroll;
    width:30rem;
    padding:1rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
  }
  .moviePosters::-webkit-scrollbar{
    width: 1rem;
    background: var(--LightGrey);
  }
  
  .moviePosters::-webkit-scrollbar-thumb{
    background: var(--LightGrey);
    border-radius: 0.5rem;
    border-right: 0rem solid var(--GreyBorder);
    height: 40%;
  }
  .moviePosters::-webkit-scrollbar-thumb:hover{
    border-right: 1rem solid var(--GreyBorder);
  }
  .titleAndPoster{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    background: white;
    border-radius:0.5rem;
    /* padding: 1.5rem; */
    box-shadow: var(--Box-shadow);
  }
  .titleAndPoster:first-child{
    margin-top: 70rem;
  }
  .moviePosters p{
    color: white;
    font-weight: bold; 
    text-align: center;
    font-weight: bold;
    font-size: 2.8rem;
    margin-top: 35.5rem;
    font-style: italic;
    font-family: var(--Quantico);
    border:black;
    width:93%;
    background-color: black;
    /* border: dotted 3px rgb(255, 255, 131); */
    padding: 0.4rem;
    position:absolute;
    
  }
  .movieImg{
    width:100%;
    height:100%;
    border-top-left-radius:0.5rem;
    border-top-right-radius:0.5rem;
  }

  /*SIGNUP - SIGNIN*/

  .containerSignUp, .containerSignIn, .containerSendPassword {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .containerUserSignUp, .containerUserSignIn{
    border-radius: 1rem;
    width: 25%;
    background-color: rgba(255, 255, 255, 0.3);
    margin-right: 25rem;
    padding: 3rem 0;
  }
  
  .containerImgSignUp, .containerImgSignIn {
    display: block;  
    padding: 2rem;
    width: 30rem;
    height: 30rem;
    margin-left: 10rem;
  }

  .containerImgSignUp img, .containerImgSignIn img {
    width: 80%;
    display: block;
    padding-top: 1rem;
    padding-right: 0.5rem;
    margin: auto;
  }

  .btn a {
    font-size: 2rem;
  }

  .containerBtn p {
    margin-top: 1rem;
    font-size: 1.9 rem;
    color: white;
  }

  .btnSocialNetworks {  
    padding: 1rem;
  }

  .btnSocialNetworks i {
    font-size: 1.5rem;
  }

  .firstLine, .secondLine{
    width: 10rem;
  }
    
  /*Modal*/
  .modalContent {
    margin: 15% auto; /* 50% desde arriba y está centrado */
    width: 40%; /* a cambiar de acuerdo a la pantalla */
  }

  /*FOOTER*/

  footer{
    display:block;
  }

  .containerFooter {
    flex-direction: row;
    padding: 1rem;
    justify-content: space-around;
    align-items: center;
  }

  .boxCreators,
  .boxCopyRight {
    margin-top: 0rem;
    width: 50%;
  }

  /*Send email to reset password*/
  .containerSendPasswordEmail{
    border-radius: 1rem;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.3);
    margin-right: 25rem;
    padding: 3rem ;
    display:flex;
    flex-direction: column;
    gap:4rem;
  }
  .sendPasswordForm{
    display:flex;
    flex-direction: column;
    gap:1rem;
  }
  
}
