* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Para nuestro proyecto usaremos REM:
REM -> es realtivo al documento
Al ver que los rem y los px guardaban una relación se creo un 'hack'
reiniciamos el tamaño del html que rodea todo el documento*/
html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  /*Unidades de medida
	px -> habitualmente usado pero ya esta descontinuado
	em ->porcentaje del elemento al que pertenece(tamaño del padre)
	rem -> es relativo al documento (toma com referencia al tamaño del documento)
	1 rem = 10 px -> esto permite que los sitios web se adapten mas a una gran cantidad de navegadores*/
}

:root {
  --Purple: #8a2387;
  --PinkStrong: #e94057;
  --Orange: #f27121;
  --Green: #02c39a;
  --Cream: #f0f3bd;
  --Lilac: #f1e9f1;

  --Quantico: "Quantico";
}

header {
  display:none;
  font-family: var(--Quantico);
  display: flex;
  padding: 1rem;
  margin:0;
  background: var(--Lilac);
}

.head {
  display: flex;
  display:none;
  align-items: center;
  gap: 4rem;
}
.head a {
  text-decoration: none;
  color: white;
  font-size: 2.3rem;
  font-style: italic;
}

.navList {
  display: flex;
  align-items: center;
  padding: 2rem;
  justify-content: space-around;
  width: 100%;
  color: white;
  font-family: var(--Quantico);
  position: fixed;
  bottom: 0;
  background: linear-gradient(
    to right,
    var(--Purple) 15%,
    var(--PinkStrong),
    var(--Orange)
  );
}
.navBarIcons{
  display: flex;
  align-items: center;
  gap: 9.5rem;
}
.navBarIcons li a{
    text-decoration: none;
    color: white;
}

/* .profileLink  i,
.navBarIcons i {
  display: none;
} */
.profileLink a, .navBarIcons a, .profileLink li{
  display:none;
}
ul li, .navBarIcons li {
    list-style: none; 
}

ul li:hover, .navBarIcons li a:hover{
  color: black;
  cursor: pointer;
}

/* .toggleBtn {
  color: white;
  background: none;
  padding: auto;
  border: none;
  cursor: pointer;
}  */

.containerTimeLine {
  background-color: var(--Lilac);
  height: 100vh;
  width: 100%;
  font-family: "Roboto", sans-serif;
  display:flex;
  flex-direction: column;
}

.containerUser {
  padding:1rem 2rem;
}

.containerAboutUser {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.backgroundPhoto img {
  display: none;
}

.profile {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-color: var(--Orange);
  border: none;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userName {
  font-size: 2rem;
  font-weight: bold;
}

.userAbout {
  font-size: 1.8rem;
  margin-left: 0.5rem;
}

.containerUserPosts {
  border: none;
  border-radius: 0.5rem;
  margin: 2rem;
  padding: 1.5rem;
  background-color: var(--Cream); /*#eef38a;*/
  display: flex;
  flex-direction: column;
}

.toPostInput {
  height: 10rem;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  padding: 10px;
}

.toPostInput::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 1.7rem;
  color: rgb(17, 15, 15);
}

.uploadAndShare {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.uploadAndShare i {
  font-size: 2rem;
}

.circleUpload {
  background: var(--Orange);
  color: white;
  border-radius: 50%;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
}

.shareBtn {
  background-color: var(--Green);
  border-radius: 0.5rem;
  padding: 0.4rem;
  color: white;
  text-align: center;
  border: none;
  cursor: pointer;
  width: 35%;
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
}

.containerOthersPosts {
  margin: 2rem;
}

.othersInfo {
  background-color: var(--PinkStrong);
  border: none;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  color: white;
}

.othersInfo p {
  font-size: 1.95rem;
}

.othersToPost {
  padding: 1rem;
  background-color: white;
}

.othersToPostInput {
  border: none;
  height: 10rem;
  width: 100%;
}

.likeAndShare {
  display: flex;
  padding: 0.4rem;
  gap: 1.5rem;
  background-color: var(--Cream);
  align-items: center;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  height: 6rem;
  padding-left: 2rem;
}

.likeAndShare i {
  font-size: 1.5rem;
}

.circleIcon {
  background: var(--Orange);
  color: white;
  border-radius: 50%;
  text-align: justify;
  padding: 1rem;
  cursor: pointer;
}


/*SIG IN-UP*/

.containerSignIn {
  background: linear-gradient(var(--Purple), var(--PinkStrong), var(--Orange));
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.containerTitleSignIn {
  display: flex;
  margin: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-family: var(--Quantico);
  font-style: italic;
}

.containerImgSignIn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.containerImgSignIn img {
  width: 35%;
  margin: 3rem;
  border: none;
}

.containerUserData form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.inputUserData {
  width: 70%;
  margin: 1.4rem;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
}

.containerBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerBtn p {
  color: white;
  font-family: 'Quantico';
  font-size: 1.5rem;
  margin: 1.5rem;
}

.btn {
  width: 100%;
  background-color: var(--Green);
  color: white;
  padding: 0.8rem;
  margin: 5%;
  border: none;
  border-radius: 0.5rem;
  font-family:'Quantico';
  cursor: pointer;
}

.btn a {
  color: white;
  text-decoration: none;
}

.containerBtnSocialNetworks {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btnSocialNetworks {
  border: none;
  border-radius: 0.5rem;
  width: 50%;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
  font-family: 'Quantico';
  background-color: #C31F26;
  color: white;
}

.btnSocialNetworks .fab{
  margin-right: 1rem;
}

.containerImgSignUp {
    display:none;
}

.containerLoginSignUp {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2rem;
  font-family: 'Quantico';
}

.containerLoginSignUp p {
  font-size: 1.5rem;
}

.containerLoginSignUp .btnSignUp {
  padding-left: 0.8rem;
  background: none;
  border: none;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: underline;
}

/* .btnSignUp a{
  color: rgb(17, 17, 53);
} */

.containerSignUp {
  background: linear-gradient(var(--Purple), var(--PinkStrong), var(--Orange));
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.separation{
  display:flex;
  align-items: center;
  justify-content: center;
  gap:1rem;
  margin: 1rem auto;
}

.firstLine, .secondLine{
  border: 1px solid white;
  width: 12rem;
}

.circle{
  border-radius: 40%;
  border: 2px solid white;
  width: 1rem;
  height: 1rem;
}

/*FOOTER*/

footer {
  display:none;
  width: 100%;
  background: linear-gradient(
    to right,
    var(--Purple) 15%,
    var(--PinkStrong),
    var(--Orange)
  );
  background-size: cover;
  font-family: "Quantico", serif;
}

.containerFooter {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.boxCreators,
.boxCopyRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.creatorsGithub {
  display: flex;
  gap: 2rem;
}

.creators h2,
.boxCopyRight h2 {
  margin-bottom: 1rem;
  color: white;
  font-weight: 600;
}

.creatorsGithub a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

.creatorsGithub a:hover {
  opacity: 60%;
}

.creatorsGithub a .fab {
  margin-right: 1rem;
  font-size: 1.5rem;
}

.boxCopyRight span {
  color: white;
  font-size: 1.2rem;
}

/*MODAL*/
.modal {
  display: none; /*cambair a none si es que no lo está*/
  position: fixed;
  z-index: 1; /* para que este encima */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* si es necesario creará un scroll*/
  background-color: rgba(0, 0, 0, 0.4); /* 0.4 es la opacidad puede cambiar */
}

.modalContent {
  background-color: white;
  font-family: "Roboto", sans-serif;
  margin: 50% auto; /* 15% desde arriba y está centrado */
  padding: 2rem;
  border: none;
  border-radius: 0.5rem;
  width: 80%; /* a cambiar de acuerdo a la pantalla*/
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.modalText {
  font-size: 1.7rem;
  text-align: justify;
}

.closeModalBtn {
  font-size: 1.7rem;
  color: white;
  background-color: var(--Green);
  border: none;
  padding: 0.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
  width: 40%;
}

.closeModalBtn:hover {
  color: black;
}

/* BREAK POINTS */

/*Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  header {
    position: absolute;
    width: 100%;
    height: 10rem;
    display:block;
    /* flex-direction: row;
    align-items: center; */
    /* gap: 40rem; */
    background: linear-gradient(
    to right,
    var(--Purple) 15%,
    var(--PinkStrong),
    var(--Orange)
    );
  }

  .head{
    display:block;
  
  }

  .head a {
    margin-left: 4rem;
    font-size: 5rem;
    cursor: pointer;
    z-index: 1;
  }

  .navList{
    position:relative;
    bottom:65px;
    left:600px;
    background: none;
    width:50%;
  }

  .profileLink a, .navBarIcons a, .profileLink li{
    display:block;
  }

  .profileLink {
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: 8rem;
    width:0%;
    flex-direction: column;
  
  }
  .profileLink li{
    padding:0;
    margin-right: 70rem;
    width:20rem;
  }

  .profilePicture{
    display: none;
  }
  
   .profileLink li{
    margin-left:50rem;
  }
  

  .navBarIcons li{
    display:flex;
    align-items: center;
    gap:2rem;
    cursor: pointer;
  }

  /*TIMELINE*/

  .containerTimeLine {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 7rem;
  }

  .containerUser {
    flex-direction: column;
    background-color: white;
    justify-content: flex-start;
    margin: 5rem 2rem;
    padding: 0rem;
    height: 26rem;
    width: 30rem;
  }

  .backgroundPhoto img {
    width: 100%;
    height: 50%;
    display: block;
  }

  .containerAboutUser {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-left: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }

  .userInfo {
    padding: 0;
  }

  .profile {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
  }

  .profileLink li, .navBarIcons li a{
    font-size: 2rem;
  }

  .userInfo p {
    font-size: 2rem;
  }

  /*la otra columna*/
  .containerPosts {
    margin-top: 2.9rem;
  }

  .containerUserPosts {
    padding: 1.5rem;
  }

  .toPostInput {
    height: 10rem;
  }

  .toPostInput::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
    padding: 1rem;
  }

  .uploadAndShare {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
  }

  .uploadAndShare i {
    font-size: 2.2rem;
  }

  .circleUpload {
    padding: 1rem;
  }

  .shareBtn {
    font-size: 1.8rem;
  }

  .othersInfo p {
    font-size: 1.5rem;
  }

  .othersToPostInput {
    height: 8rem;
  }

  /*SIGNUP - SIGNIN*/

  .containerSignUp, .containerSignIn {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .containerUserSignUp, .containerUserSignIn {
    border-radius: 1rem;
    width: 25%;
    background-color: rgba(255, 255, 255, 0.5);
    margin-right: 25rem;
    padding: 3rem 0;
  }

  .containerImgSignUp, .containerImgSignIn {
    display: block;  
    padding: 2rem;
    width: 30rem;
    height: 30rem;
    margin-left: 10rem;
  }

  .containerImgSignUp img, .containerImgSignIn img {
    width: 80%;
    display: block;
    padding-top: 1rem;
    padding-right: 0.5rem;
    margin: auto;
  }

  .btn a {
    font-size: 2rem;
  }

  .containerBtn p {
    margin-top: 1rem;
    font-size: 1.9 rem;
    color: black;
  }

  .btnSocialNetworks {  
    width: 60%;
    padding: 1rem;
  }

  .btnSocialNetworks i {
    font-size: 1.5rem;
  }

  .firstLine, .secondLine{
    width: 10rem;
  }
    
  /*Modal*/

  /*FOOTER*/

  footer{
    display:block;
  }

  .containerFooter {
    flex-direction: row;
    padding: 1rem;
    justify-content: space-around;
    align-items: center;
  }

  .boxCreators,
  .boxCopyRight {
    margin-top: 0rem;
    width: 50%;
  }
}
